{
  "overrides": [
	{
	  "files": ["src/styles/**/*.{s?(a|c)ss}"],
	  "customSyntax": "postcss-scss"
	},
	{
	 "files": ["src/components/**/*.vue"],
	 "customSyntax": "postcss-html"
	}
  ],
  "extends": [
	"stylelint-config-standard",
	"stylelint-config-standard-scss",
	"stylelint-config-recommended-vue"
  ],
  "rules": {
    "function-no-unknown": null,
    "selector-class-pattern": null,
    "at-rule-no-unknown": null,
    "custom-property-no-missing-var-function": null,
    "value-keyword-case": null
  }
}
