.calendar-root,
.date-picker-root {
	/** Color */
	--qalendar-blue: #2684ff;
	--qalendar-blue-transparent: rgba(38, 132, 255, 0.9);
	--qalendar-gray-quite-dark: #6e6e6e;
	--qalendar-green: rgb(51, 182, 121);
	--qalendar-theme-color: var(--qalendar-blue);
	--qalendar-light-gray: rgba(240, 236, 236, 0.76);

	/** Borders */
	--qalendar-border-gray-thin: 1px solid rgb(224, 224, 224);
	--qalendar-border-blue-thin: 1px solid var(--qalendar-theme-color);
	--qalendar-border-radius: 8px;

	/** Spacing */
	--qalendar-spacing: 10px;
	--qalendar-spacing-half: 5px;
	--qalendar-spacing-double: 20px;

	/** Miscellaneous */
	--qalendar-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.18);
	--qalendar-text-transition: color 0.2s ease;
	--qalendar-week-padding-left: 56px; // is used for creating space in calendar-week, for the DayTimeline.vue component

	/** Font */
	--qalendar-font-2xs: 0.625rem;
	--qalendar-font-xs: 0.75rem;
	--qalendar-font-s: 0.875rem;
}

@media (min-width: 62rem) {

	.calendar-root {
		--qalendar-spacing: 20px;
		--qalendar-spacing-half: 10px;
		--qalendar-spacing-double: 40px;
	}
}


