name: Record snapshots
on: workflow_dispatch

jobs:
  chrome:
    runs-on: ubuntu-latest
    steps:
      - uses: cypress-io/github-action@v4
        if: failure()
        with:
          browser: chrome
          start: npm run dev
          env: type=base
          config: screenshotsFolder=cypress/snapshots/linux/base
      - uses: actions/upload-artifact@v3
        if: success()
        with:
          name: visual-regression-diff
          path: cypress/snapshots
          retention-days: 14
